  <div style="position: relative;" class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h1>{{title}}</h1>
            <p>Online webservice for managing your smart post boxes!</p>
            {{#if session.userId}}
                <p>Logged in</p>
                <a href="/postbox/addbox" class="btn btn-primary btn-lg btn-block">Add a postbox</a>
                <a href="/postbox/open" class="btn btn-primary btn-lg btn-block">Make an unlock request</a>
                {{else}}
                <p>You are currently not logged in!</p>
                <a href="/user/login" class="btn btn-primary btn-lg btn-block">Login</a>
                <a href="/user/register" class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998;">Register</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>