<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>
  <body style="background-image: url('/images/homepage.jpg');">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <a class="navbar-brand" href="/">
          <img src="/images/logo.png" height="20" class="d-inline-block align-center" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{#if session.userId}}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user/profile/">My profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/postbox/show">My boxes</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link"  href="/user/logout"><i class="fas fa-sign-in-alt"></i> Log out ({{session.userName}})</a></li>
          </ul>
        {{else}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/user/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/register"><i class="fas fa-sign-in-alt"></i> Register</a></li>
        </ul>
        {{/if}}
      </div>
    </nav>
    <div style="padding: 20px;">
      {{{body}}}
    </div>
  </body>
</html>
