  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-10 mt-4">User: {{session.userName}}</p>
                <a href="/postbox/addbox" class="btn btn-success border-dark btn-lg btn-block"><i class="fa-solid fa-circle-plus"></i> Register a new post box</a>
                <a href="/postbox/show" class="btn btn-primary border-dark btn-lg btn-block"><i class="fa-solid fa-box"></i> My post boxes & tokens</a>
            </div>
        </div>
      </div>
    </div>
  </div>
