 <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add your smart post box</p>

                <form class="mx-1 mx-md-4" action="/postbox" method="post">

                  <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" name="postboxId" class="form-control" required />
                      <i class="fa-solid fa-hashtag fa-lg"></i>
                      <label class="form-label" for="form3Example1c">Enter your post box ID</label>
                    </div>
                  </div>

                  <div class="form-outline flex-fill mb-0 mb-2">
                    <input type="text" id="form3Example1c" name="name" class="form-control" required />
                    <i class="fa-solid fa-file-signature"></i>
                    <label class="form-label" for="form3Example1c">Add a nickname for your postbox</label>
                  </div>

                  <div class="form-outline flex-fill mb-0 mb-2">
                    <div class="input-group">
                      <input type="text" id="location" name="location" class="form-control w-50" placeholder="Latitude" readonly required/> 
                      <input type="text" id="location2" name="location2" class="form-control w-50" placeholder="Longitude" readonly required/>
                    </div>
                    
                    <i class="fa-solid fa-compass"></i>
                    <label class="form-label" for="form3Example1c">Enter the box's location</label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" style="background-color: #3b5998;" class="btn btn-primary btn-lg">Add</button>
                  </div>

                </form>

              </div>
              <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
              integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
              crossorigin=""/>
              <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
              integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
              crossorigin=""></script>
              <div id="map" class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

              </div>
              <script>
                var inputlat = document.getElementById("location");
                var inputlng = document.getElementById("location2");
                function onMapClick(e) {
                    inputlat.value = e.latlng.lat;
                    inputlng.value = e.latlng.lng;
                    marker.setLatLng(e.latlng);
                    map.panTo(e.latlng);
                }
                var map = L.map('map').setView([46.517, 15.687], 13);
                var marker = L.marker([46.517, 15.687]).addTo(map).bindPopup("The location of your postbox.");
                map.on('click', onMapClick);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>